@tailwind base;
body {
  @apply text-amber-900;
}
@tailwind components;
@tailwind utilities;

.heart:hover {
  fill: red;
}
:root {
  --font-heading: "AgencyFB";
  --font-body:'Poppins', sans-serif;;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "AgencyFB";
  src: url("./fonts/AgencyFB-Bold.otf");
  src: url("./fonts/AgencyFB-Bold.eot") format("embedded-opentype"),
    url("./fonts/AgencyFB-Bold.woff2") format("woff2"),
    url("./fonts/AgencyFB-Bold.woff") format("woff"),
    url("./fonts/AgencyFB-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.navbargradient
{
  background: linear-gradient(88.7deg, #212121 0.93%, rgba(161, 130, 95, 0.341) 103.42%, rgba(100, 84, 66, 0.652571) 103.42%);
  filter: drop-shadow(8px 15px 20px #212121);
}
.gradient {
  background: linear-gradient(270.89deg, #ffffff 49.94%, #efe6dc 119.67%);
}
.bgimg {
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../public/top-view.png);
}
.inputline::after
{
  content: '';
  height: 37px;
  width: 3px;
  background-color: #A1825F;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.inputline::before
{
  content: '';
  height: 37px;
  width: 3px;
  background-color: #A1825F;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.categoryoverllay::after
{
  content: "";
  height: 100%;
  width: 100%;
  background-color: #2A180285;
  position: absolute;
  top: 0;
  left: 0;
}
.owl-nav
{
  position: absolute;
  top: -100px;
  right: 0px;
  display: block !important; 
}
.owl-carousel .owl-nav.disabled
{
  display: block;
}
button.owl-prev
{
  width: 49px;
  height: 44px;
  border-radius: 4px;
  background-color: #EFE3D5 !important;
  background-image: url(../public/arrow.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-prev[class*='owl-']:hover
{
  background-color:#EFE3D5 !important;
  background-image: url(../public/arrow.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-prev span
{
  display: none !important;
}
 button.owl-next
{
  width: 49px !important;
  height: 44px !important;
  border-radius: 4px !important;
  background-color: #613907 !important;
  background-image: url(../public/arrowright.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-next [class*='owl-']:hover
{
  background-color:#613907 !important;
  background-image: url(../public/arrowright.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

}
.owl-next span
{
  display: none !important;
}